@font-face
			{
				font-family:"Yu Gothic Std-TT M";
				src:url("https://api2.fonts.com/FontSubsetter.ashx?d44f19a684109620e4841470a490e818a9183a70bac4f4e07040a8028181ce44457b6201b72718e1aa7a611cd7fd22ff5e3ff2e0f242e5ff57656bb98809fc3acb3586009815353936781172c52bbf3c5bcfeb072ca93fc9c62dbe147d&fctypeId=14&fcId=01953334-84b1-4c25-869b-950c7418ea69&projectId=1e16034a-b682-49fc-8df5-3f0b24f565e8&content=  (),-./012346789ABCDEFGHIKLMOPRSTUXYabcdefghiklmnoprstu、。〒あいえおかがきくげこさしすずせただってでとどなにのはべまめやらりるれわをんアィイェエオカクグコサシジスセソタダチッツテデトドナノバパビフブプヘベホポマミメモュラリルレン・ー三上事京人仕代会作使供保全具削前加北区千卵合営塩売夜大存安客家店当心手挽提料新日旬時替朝材東業様毎浦海添焼物理生産用田町盛目直社種粗者聞職自菜製見読調豆豊豚越込運道都野間食香鶏麦！％（）～BESb에swyMm9115") format('woff2');
			}

			@font-face
			{
				font-family:"Didot LT W01 Roman";
				src:url("https://fast.fonts.net/dv2/14/103e2f8e-0985-4937-ac3e-8dd01aa8ad31.woff2?d44f19a684109620e4841470a490e818a9183a70bac4f4e07040a8028181ce44457b6201b72718e1aa7a611cd7fd22ff5e3ff2e0f242e5ff57656bb98809fc3acb3586009815353936781172c52bbf3c5bcfeb072ca93fc9c62dbe147d&projectId=1e16034a-b682-49fc-8df5-3f0b24f565e8") format('woff2');
			}

			@font-face
			{
				font-family:"Didot LT W01 Bold";
				src:url("https://fast.fonts.net/dv2/14/b2eb2ad6-3170-4f0b-a83a-e30e6d288041.woff2?d44f19a684109620e4841470a490e818a9183a70bac4f4e07040a8028181ce44457b6201b72718e1aa7a611cd7fd22ff5e3ff2e0f242e5ff57656bb98809fc3acb3586009815353936781172c52bbf3c5bcfeb072ca93fc9c62dbe147d&projectId=1e16034a-b682-49fc-8df5-3f0b24f565e8") format('woff2');
			}

			@font-face
			{
				font-family:"Futura PT W01 Demi";
				src:url("https://fast.fonts.net/dv2/14/848602e3-bda3-4b1c-976b-fe26eecfab31.woff2?d44f19a684109620e4841470a490e818a9183a70bac4f4e07040a8028181ce44457b6201b72718e1aa7a611cd7fd22ff5e3ff2e0f242e5ff57656bb98809fc3acb3586009815353936781172c52bbf3c5bcfeb072ca93fc9c62dbe147d&projectId=1e16034a-b682-49fc-8df5-3f0b24f565e8") format('woff2');
			}

			@font-face
			{
				font-family:"Didot LT W01 Italic";
				src:url("https://fast.fonts.net/dv2/14/443d65aa-6f72-4676-9ff8-47280867f2f6.woff2?d44f19a684109620e4841470a490e818a9183a70bac4f4e07040a8028181ce44457b6201b72718e1aa7a611cd7fd22ff5e3ff2e0f242e5ff57656bb98809fc3acb3586009815353936781172c52bbf3c5bcfeb072ca93fc9c62dbe147d&projectId=1e16034a-b682-49fc-8df5-3f0b24f565e8") format('woff2');
			}

			@font-face
			{
				font-family:"Yu Gothic Std-TT B";
				src:url("https://api2.fonts.com/FontSubsetter.ashx?d44f19a684109620e4841470a490e818a9183a70bac4f4e07040a8028181ce44457b6201b72718e1aa7a611cd7fd22ff5e3ff2e0f242e5ff57656bb98809fc3acb3586009815353936781172c52bbf3c5bcfeb072ca93fc9c62dbe147d&fctypeId=14&fcId=093632f1-675d-4e6a-a3ee-e6ab3c85a94b&projectId=1e16034a-b682-49fc-8df5-3f0b24f565e8&content=　ぎこせだねのりわイェクグサシスタダッツテトドニノパフブプポミムモラルレロワンー前合日本玉盛菜野鶏＆BESb에swyMm") format('woff2');
			}