@charset "utf-8";

/*--------------------------------------------------
* Base
==================================================*/

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.mb050 {
  margin-bottom: 50px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.align_r {
  text-align: right !important;
}

.color_red {
  color: #ff0000 !important;
}

@media screen and (max-width: 767px) {  
  .mb100 {
    margin-bottom: 50px !important;
  }

  .mb010_sp {
    margin-bottom: 10px !important;
  }

}

div#leafVisual {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 340px;
  margin-bottom: 20px;
  padding-top: 100px;
  background-color: #000;
}
.ttl {
  color: rgb(255, 255, 255);
}

div#leafVisual2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 340px;
  margin-bottom: 20px;
  padding-top: 100px;
  background-image: url("../image/painfond.jpg");
}
div#leafVisual2.brandVisual {
  height: 600px;
}
div#leafVisual2 div.bg {
  width: 50%;
  height: 100%;
  background-position:0 center;
  background-size: cover;
  background-repeat: no-repeat;
}
div#leafVisual2.story div.bg {
  background-position:0 20%;
  }

div#leafVisual.brandVisual {
  height: 600px;
}

div#leafVisual div.bg {
  width: 50%;
  height: 100%;
  background-position:0 center;
  background-size: cover;
  background-repeat: no-repeat;
}

div#leafVisual.story div.bg {
background-position:0 20%;
}

/*div#leafVisual.btm div.bg {
  background-position: 0 0;
  background-size: 50% auto;
  background-attachment: fixed;
}*/

div#leafVisual div.bg {
  background-image: url("../../img/base/bg_leafVisual_01.jpg");
}

div#leafVisual.coffee div.bg {
  background-image: url("../../img/brands/bg_leafVisual_01.jpg");
}

div#leafVisual.table div.bg {
  background-image: url("../../img/brands/bg_leafVisual_02.jpg");
}

div#leafVisual.bakery div.bg:first-child {
  background-image: url("../../img/brands/bg_leafVisual_03.jpg");
}

div#leafVisual.bakery div.bg:last-child {
  background-image: url("../../img/brands/bg_leafVisual_02.jpg");
}

div#leafVisual.product div.bg {
  background-image: url("../../img/product/bg_leafVisual_01.jpg");
}

div#leafVisual.news div.bg {
  background-image: url("../../img/news/bg_leafVisual_01.jpg");
}

div#leafVisual.story div.bg {
  background-image: url("../../img/story/bg_leafVisual_01.jpg");
}

div#leafVisual.recruit div.bg {
  background-image: url("../../img/recruit/bg_leafVisual_01.jpg");
}

div#leafVisual.company div.bg {
  background-image: url("../../img/company/bg_leafVisual_01.jpg");
}

div#leafVisual div.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  padding: 0 40px;
  color: #000;
  font-size: 16px;
  line-height: 2em;
  text-align: center;
  box-sizing: border-box;
}

div#leafVisual.no_bg div.box {
  width: 100%;
}

div#leafVisual div.box h1.logo {
  margin-bottom: 30px;
}

div#leafVisual div.box h1.ttl {
  margin: 0 auto 30px auto;
  font-size: 60px;
  line-height: 1em;
  letter-spacing: 10px;
  text-align: left;
  word-wrap: break-word;
}

div#leafVisual.btm div.box h1.logo,
div#leafVisual.btm div.box h1.ttl {
  margin: 0;
}

div#leafVisual div.box h1.ttl span.and {
  font-size: 30px;
  margin: 0 -10px;
}

div#leafVisual.btm div.box h1.logo {
max-width:280px; 
}

div#leafVisual.btm div.box h1.logo img {
vertical-align: bottom;
}

div#leafVisual div.box h1.ttl span.ja {
  display: block;
  margin-top: 10px;
  padding-left: 60px;
  background: url("../../img/base/bg_line_01.gif") 0 center no-repeat;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 2px;
}

div#leafVisual div.box p.lead {
  margin: 0 auto;
  max-width: 450px;
  text-align: left;
}

div#leafVisual nav#tabNav {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  padding: 0 20px;
  max-width: 1000px;
}

div#leafVisual nav#tabNav ul {
  display: flex;
}

div#leafVisual nav#tabNav ul li {
  margin-right: 4px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1em;
}

div#leafVisual nav#tabNav ul li a {
  display: block;
  width: 130px;
  padding: 15px 0;
  background-color: #1b1b1b;
  color: #fff;
  text-align: center;
  transition: 0.3s;
}

div#leafVisual nav#tabNav ul li a:hover,
div#leafVisual nav#tabNav ul li a.cr {
  background-color: #fff;
  color: #1b1b1b;
}

@media screen and (max-width: 767px) {

  div#leafVisual {
    display: block;
    height: 300px;
    margin-bottom: 10px;
    padding-top: 50px;
  }
  
  div#leafVisual.btm,
  div#leafVisual.no_bg{
    height: 300px;
  }

  div#leafVisual.brandVisual {
    height: 300px;
  }

  div#leafVisual div.bg {
    width: 100%;
  }

  div#leafVisual.brandVisual div.bg:last-child {
    display: none;
  }

  div#leafVisual.btm div.bg {
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
  }

  div#leafVisual div.box {
    position: absolute;
    width: 100%;
	height: 350px;
	align-items: center;
    top: 0;
    margin: 0;
    padding: 60px 0 0 0;
    font-size: 12px;
    line-height: 2em;
    background: rgba(238,238,238,0.8);
  }

  div#leafVisual.brand div.box {
    position: absolute;
    top: 0;
    transform: translateY(0);
  }
  
  div#leafVisual div.box h1.logo {
    max-width: 60%;
    margin: 0 auto 10px auto;
  }


  
  div#leafVisual div.box h1.ttl {
    max-width: inherit;
    margin: 0 auto 30px auto;
    padding: 0 20px;
    font-size: 26px;
    line-height: 1em;
  }
  
  div#leafVisual div.box h1.ttl span.and {
    font-size: 15px;
  }

  div#leafVisual div.box h1.ttl span.ja {
    font-size: 12px;
    line-height: 1em;
  }
  
  div#leafVisual div.box p.lead {
    max-width: inherit;
    padding: 0 20px;
  }

  div#leafVisual nav#tabNav {
    padding: 0 10px;
  }

  div#leafVisual nav#tabNav ul li {
    font-size: 12px;
    line-height: 1em;
  }

  div#leafVisual nav#tabNav ul li a {
    width: 100px;
  }

}


/*--------------------------------------------------
* breadcrumbs
==================================================*/

nav.breadcrumbs ul {
  display: flex;
  max-width: 1000px;
  margin: 0 auto 70px auto;
  padding: 0 20px;
  color: #333;
  font-size: 14px;
  line-height: 1em;
}

nav.breadcrumbs ul li {
  margin-right: 10px;
  padding-right: 16px;
  background: url("../../img/base/icon_arrow_03.gif") right center no-repeat;
}

nav.breadcrumbs ul li:last-child {
  margin-right: 0;
  padding-right: 0;
  background: none;
}

nav.breadcrumbs ul li a {
  color: #333;
  transition: 0.3s;
}

nav.breadcrumbs ul li a:hover {
  opacity: 0.7;
}

nav.breadcrumbs.no_visual {
  padding: 100px 180px 0 180px;
  background-color: #f5f5f5;
}

nav.breadcrumbs.no_visual ul {
  padding: 12px 20px;
}

nav.breadcrumbs.no_visual ul li {
  background: url("../../img/base/icon_arrow_04.gif") right center no-repeat;
}

nav.breadcrumbs.no_visual ul li:last-child {
  background: none;
}

@media screen and (max-width: 767px) {

  nav.breadcrumbs ul {
    margin: 0 auto 40px auto;
    padding: 0 10px;
    font-size: 12px;
    line-height: 1em;
  } 
  
  nav.breadcrumbs.no_visual {
    padding: 130px 0 0 0;
    background-color: #fff;
  }

  nav.breadcrumbs.no_visual ul {
    padding: 0 10px;
  }

}


/*--------------------------------------------------
* leafNav & productNav
==================================================*/

nav#leafNav {
  max-width: 1000px;
  margin: 0 auto 60px auto;
  padding: 0 40px;
  border-bottom: 1px solid #1b1b1b;
  font-family: "Noto Sans JP", "メイリオ", Meiryo, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 2px;
  box-sizing: border-box;
}

nav#leafNav.mb040 {
  margin-bottom: 40px;
}

nav#leafNav ul {
  display: flex;
}

nav#leafNav ul li {
  margin: 0 5%;
}

nav#leafNav ul li:first-child {
  margin-left: 0;
}

nav#leafNav ul li a {
  display: block;
  position: relative;
  padding-bottom: 25px;
  color: #1b1b1b;
  text-align: center;
}

nav#leafNav ul li a:hover::after,
nav#leafNav ul li a.cr::after {
  position: absolute;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  content: '';
  width: 72.72%;
  height: 3px;
  border-bottom: 3px solid #000;
}

nav#productNav {
  max-width: 1000px;
  margin: 0 auto 80px auto;
  padding: 0 20px;
  font-family: "Noto Sans JP", "メイリオ", Meiryo, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1em;
}

nav#productNav ul {
  display: flex;
  flex-wrap: wrap;
}

nav#productNav ul li {
  margin-bottom: 15px;
}

nav#productNav ul li span {
  color: #1b1b1b;
  padding: 2px 5px;
  cursor: pointer;
}

nav#productNav ul li::after {
  content: '│';
  margin: 0 5px;
}

nav#productNav ul li span:hover,
nav#productNav ul li span.active {
  background-color: #1b1b1b;
  color: #fff;
}


nav#productNav .calorieTable a {
color:  #1b1b1b;
transition: 0.3s;
border: 1px solid #1b1b1b;
display: inline-block;
padding: 5px 30px;
}

nav#productNav .calorieTable a::before {
    font-family: "Font Awesome 5 Free";
    content: "\f1c1";
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-right: 3px;
	font-size: 12px;
}


nav#productNav .calorieTable a:hover {
	background-color: #1b1b1b;
	color: #fff;
}

@media screen and (max-width: 767px) {

  nav#leafNav {
    margin-bottom: 40px;
    padding: 0 10px;
    font-size: 12px;
    line-height: 1em;
    letter-spacing: 0;
  }

  nav#leafNav ul {
    justify-content: space-between;
  }
  
  nav#leafNav ul li {
    margin: 0;
  }

  nav#leafNav ul li a {
    padding-bottom: 15px;
  }
  
  nav#productNav {
    margin: 0 auto 50px auto;
    padding: 0 10px;
    font-size: 12px;
  }

  nav#productNav ul li::after {
    content: '│';
    margin: 0;
  }

}


/*--------------------------------------------------
* section
==================================================*/

section.section_type01 {
  max-width: 1000px;
  margin: 0 auto 70px auto;
  padding: 0 20px;
  font-family: "Noto Sans JP", "メイリオ", Meiryo, sans-serif;
  font-size: 14px;
  line-height: 2em;
}

section.section_type01.underline {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cdcdcd;
}

section.section_type01 p {
  margin-bottom: 20px;
}

section h2.h2_type01 {
  margin-bottom: 30px;
	font-family: minion-pro-display,"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝体", "Yu Mincho", YuMincho, "Noto Sans Japanese","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,"ＭＳ Ｐゴシック", Osaka, sans-serif;
  font-size: 30px;
  line-height: 1em;
  letter-spacing: 4px;
}

section h2.h2_type02,
section h4.h4_type01 {
  margin-bottom: 20px;
	font-family: minion-pro-display,"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝体", "Yu Mincho", YuMincho, "Noto Sans Japanese","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,"ＭＳ Ｐゴシック", Osaka, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5em;
}

section h2.h2_type03 {
  margin-bottom: 50px;
	font-family: minion-pro-display,"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝体", "Yu Mincho", YuMincho, "Noto Sans Japanese","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,"ＭＳ Ｐゴシック", Osaka, sans-serif;
  font-size: 40px;
  line-height: 1em;
  letter-spacing: 10px;
}

section h2.h2_type03 span.and {
  font-size: 20px;
  line-height: 1em;
}

section h2.h2_type03 span.ja {
  display: block;
  margin-top: 5px;
  padding-left: 60px;
  background: url("../../img/base/bg_line_01.gif") 0 center no-repeat;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}

section h2.h2_type04 {
  margin-bottom: 50px;
  padding-bottom: 10px;
  background: url("../../img/base/bg_line_02.gif") 0 bottom no-repeat;
	font-family: minion-pro-display,"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝体", "Yu Mincho", YuMincho, "Noto Sans Japanese","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,"ＭＳ Ｐゴシック", Osaka, sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 5px;
}

section h2.h2_type05 {
  margin-bottom: 40px;
	font-family: minion-pro-display,"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝体", "Yu Mincho", YuMincho, "Noto Sans Japanese","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,"ＭＳ Ｐゴシック", Osaka, sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 1em;
  letter-spacing: 5px;
}

section h2.h2_type05 span {
  font-family: "Noto Sans JP", "メイリオ", Meiryo, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1em;
}

section h2.h2_type06 {
  margin-bottom: 20px;
  padding: 15px 0;
  background-color: #eee;
	font-family: minion-pro-display,"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝体", "Yu Mincho", YuMincho, "Noto Sans Japanese","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,"ＭＳ Ｐゴシック", Osaka, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
}

section h2.h2_type07 {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 3px solid #1b1b1b;
  font-size: 18px;
  font-weight: 500;
}

section h2.h2_type07 span {
  margin-right: 5px;
  font-size: 24px;
  font-weight: 700;
}

section h2.h2_type08 {
  margin-bottom: 50px;
	font-family: minion-pro-display,"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝体", "Yu Mincho", YuMincho, "Noto Sans Japanese","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,"ＭＳ Ｐゴシック", Osaka, sans-serif;
  font-size: 30px;
  line-height: 1em;
  letter-spacing: 4px;
}

section h2.h2_type09 {
  margin-bottom: 50px;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.8em;
  text-align: center;
}

section h2.h2_type10 {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5em;
  text-align: center;
}

section h3.h3_type01 {
  margin-bottom: 30px;
	font-family: minion-pro-display,"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝体", "Yu Mincho", YuMincho, "Noto Sans Japanese","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,"ＭＳ Ｐゴシック", Osaka, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5em;
  letter-spacing: 2px;
}

section h3.h3_type02 {
  width: 500px;
  margin-bottom: 15px;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e4e4e4;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5em;
  box-sizing: border-box;
}

section p.caption {
  margin: -20px 5px 30px 5px;
  font-size: 12px;
  line-height: 1.5em;
  text-align: left;
}

section p.hit {
  margin-bottom: 20px;
  text-align: right;
}

section p.pager {
  margin-bottom: 50px;
  font-size: 16px;
  text-align: right;
  letter-spacing: 2px;
}

section p.pager strong {
  font-weight: bold;
}

section p.pager a {
  color: #1b1b1b;
}

section p.pager a:hover {
  text-decoration: underline;
}

section ul.merit {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f6f6f6;
  font-weight: 500;
  line-height: 2.5em;
}

section ul.merit li::after {
  content: ' ｜ ';
}

section ul.merit li strong {
  padding: 5px 10px;
  background-color: #1b1b1b;
  color: #fff;
}

section p.lead {
  margin-bottom: 50px;
  font-size: 16px;
}

section p.app a,
section p.app input {
  display: block;
  width: 36%;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #1b1b1b;
  border: none;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 1em;
  transition: 0.3s;
  cursor: pointer;
}

section p.app a:hover,
section p.app input:hover {
  opacity: 0.8;
}

section div.shop_about p {
  margin-bottom: 30px;
}

section p.ml020 {
  margin-left: 20px;
}

section div.singlebox {
  margin-bottom: 60px;
}

section div.singlebox.pic_slider {
  margin-bottom: 100px;
}

section div.singlebox div.pic {
  margin-bottom: 30px;
  text-align: center;
}

section div.greybox {
  margin-bottom: 80px;
  padding: 25px 25px 25px 25px;
  background-color: #f6f6f6;
}

section div.greybox.border {
  border: 1px solid #232020;
  background-color: #fff;
  box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.1);
}

section div.greybox.border.red {
  border: 1px solid #aa3737;
}

section div.greybox p {
  margin-bottom: 50px;
}

section div.greybox p:last-child {
  margin-bottom: 0;
}

section div.youtube {
  width: 440px;
  margin: 0 auto 80px auto;
  text-align: center;
}

section div.youtube iframe {
  width: 100%;
  height: 280px;
}

section ul.list_link {
  margin-bottom: 50px;
}

section ul.list_link li {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #1b1b1b;
}

section ul.list_link li a {
  display: inline-block;
  padding: 0 0 0 30px;
  background: url("../../img/base/icon_link_01.gif") 0 center no-repeat;
  color: #1b1b1b;
  transition: 0.3s;
}

section ul.list_link li a:hover {
  opacity: 0.6;
}

section div.sns_share {
  display: flex;
  align-items: center;
  justify-content: center;
}

section div.sns_share h2 {
  padding: 10px 12px;
  border-top: 1px solid #1b1b1b;
  border-bottom: 1px solid #1b1b1b;
	font-family: minion-pro-display,"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝体", "Yu Mincho", YuMincho, "Noto Sans Japanese","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,"ＭＳ Ｐゴシック", Osaka, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1em;
}

section div.sns_share ul.list_icon {
  display: flex;
}

section div.sns_share ul.list_icon li {
  margin-left: 15px;
}

section div.sns_share ul.list_icon li img {
  vertical-align: middle;
}

section div.sns_share ul.list_icon li a {
  transition: 0.3s;
}

section div.sns_share ul.list_icon li a:hover {
  opacity: 0.8;
}

section table.table_type01,
section table.shop_detail {
  width: 100%;
  border-top: 1px solid #cdcdcd;
  border-collapse: separate;
  font-size: 16px;
}

section table.table_type01 tr,
section table.shop_detail tr {
  display: block;
  border-bottom: 1px dotted #cdcdcd;
  border-spacing: 20px;
}

section table.table_type01 tr th,
section table.shop_detail tr th {
  width: 180px;
  font-weight: bold;
  vertical-align: middle;
}

section table.table_type01 tr td,
section table.shop_detail tr td {
  padding: 24px 0 24px 50px;
  border-left: 1px solid #cdcdcd;
}

section table.shop_detail tr td a {
color: #1b1b1b!important;
}

section table.table_type01 tr td select {
  padding: 10px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

section table.table_type01 tr td input.hidden {
  display: none;
}

section table.table_type01 tr td label {
  display: inline-block;
  margin-bottom: 5px;
  padding: 2px 5px;
  cursor: pointer;
}

section table.table_type01 tr td input:checked + label {
  background-color: #1b1b1b;
  color: #fff;
}

section table.table_type01.contact {
  margin-bottom: 100px;
}

section table.table_type01.contact tr th span.mini {
  font-size: 12px;
}

section table.table_type01.contact tr th span.color_red {
  margin-left: 2px;
}

section table.table_type01.contact tr td {
  width: 80%;
  padding: 10px 0 10px 50px;
  box-sizing: border-box;
}

section table.table_type01.contact tr td input.input_type01 {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #eee inset;
}

section table.table_type01.contact tr td input.input_type02 {
  width: 15%;
  height: 35px;
  padding: 0 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #eee inset;
}

section table.table_type01.contact tr td textarea.textarea_type01 {
  width: 100%;
  height: 160px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #eee inset;
}

section table.table_type01.contact tr td span.err {
  display: block;
  color: #ff0000;
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}

section ul.list_contact {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  border-bottom: 1px dotted #a3a3a3;
	font-family: minion-pro-display,"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝体", "Yu Mincho", YuMincho, "Noto Sans Japanese","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,"ＭＳ Ｐゴシック", Osaka, sans-serif;
  font-weight: bold;
}

section ul.list_contact li.tel {
  margin-right: 14%;
  width: 30%;
  padding: 15px 0;
  border: 1px solid #1b1b1b;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1em;
  text-align: center;
}

section ul.list_contact li.tel a {
color: #1b1b1b !important;
}

section ul.list_contact li.tel span {
  padding-left: 25px;
  background: url("../../img/contact/icon_tel_01.gif") 0 center no-repeat;
}

section ul.list_contact li.form,
section ul.list_contact li.mail {
  width: 300px;
}

section ul.list_contact li.form a {
  display: block;
  width: 100%;
  padding: 18px 0;
  background-color: #ffffff;
  border: 1px solid #1b1b1b;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1em;
  text-align: center;
}

section ul.list_contact li.form a span {
  text-align: center;
  background: url("../../img/contact/icon_mail_01.gif") 0 center no-repeat;
}

section ul.list_contact li.mail a {
  display: block;
  width: 100%;
  padding: 14px 0;
  border: 1px solid #1b1b1b;
  box-sizing: border-box;
  color: #1b1b1b;
  font-size: 20px;
  line-height: 1em;
  text-align: center;
}

section ul.list_contact li.mail a span {
  padding-left: 25px;
  background: url("../../img/contact/icon_mail_02.gif") 0 center no-repeat;
}

section ul.list_contact li a {
  transition: 0.3s;
}

section ul.list_contact li a:hover {
  opacity: 0.8;
}

section ul.list_contact li.mail a:hover {
  opacity: 0.6;
}

section p.contact_lead {
  margin-bottom: 50px;
  font-weight: 500;
  text-align: center;
  line-height: 2.5em;
}

section p.contact_note {
  margin: -20px 0 50px 0;
  font-size: 12px;
  text-align: center;
}

section p.contact_note span {
  padding: 10px;
  background-color: #f6f6f6;
}

section p.link_btn {
  margin-bottom: 70px;
  text-align: center;
}

section p.link_btn a {
  display: block;
  width: 360px;
  margin: 0 auto;
  padding: 25px 0;
  background-color: #1b1b1b;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.1);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1em;
  transition: 0.3s;
}

section p.link_btn a:hover {
  opacity: 0.7;
}

section p.link_btn.red a {
  background-color: #b94141;
}

section p.link_btn.yellow a {
  background-color: #f0c92c;
}

section p.link_btn.grey a {
  background-color: #cbcbcb;
}

section p.clear {
  padding-top: 30px;
  text-align: center;
}

section p.clear input {
  display: block;
  width: 300px;
  margin: 0 auto;
  padding: 15px 0;
  background-color: #c9c9c9;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1em;
  transition: 0.3s;
  cursor: pointer;
}

section p.clear input:hover {
  background-color: #1b1b1b;
}

section p.sub_ttl {
  margin-bottom: 10px;
	font-family: minion-pro-display,"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝体", "Yu Mincho", YuMincho, "Noto Sans Japanese","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,"ＭＳ Ｐゴシック", Osaka, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5em;
}

section p.credit {
  margin: -20px 0 10px 0;
}

section p.credit a {
  color: #1b1b1b;
}

section p.credit a:hover {
  text-decoration: underline;
}

section div.category_date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

section div.category_date p.category {
  width: 80px;
  margin-right: 25px;
  padding: 5px 0;
  background-color: #1b1b1b;
  color: #fff;
  font-size: 12px;
  line-height: 1em;
  text-align: center;
}


@media screen and (max-width: 767px) {
 
  section.section_type01 {
    margin-bottom: 40px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 2em;
  }

  section h2.h2_type01 {
    font-size: 20px;
    line-height: 1em;
  }

  section h2.h2_type02,
  section h4.h4_type01 {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5em;
  }

  section h2.h2_type03 {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1em;
    letter-spacing: 8px;
  }

  section h2.h2_type03 span.and {
    font-size: 16px;
    line-height: 1em;
  }

  section h2.h2_type03 span.ja {
    font-size: 12px;
  }
  
  section h2.h2_type04 {
    margin-bottom: 40px;
    font-size: 20px;
  }
  
  section h2.h2_type05 {
    margin-bottom: 30px;
    font-size: 20px;
  }

  section h2.h2_type05 span {
    font-size: 12px;
  }

  section h2.h2_type06 {
    margin-bottom: 15px;
    padding: 10px 0;
    font-size: 18px;
  }

  section h2.h2_type07 {
    margin-bottom: 20px;
    font-size: 14px;
  }

  section h2.h2_type07 span {
    font-size: 18px;
  }

  section h2.h2_type08 {
    margin-bottom: 30px;
    font-size: 20px;
  }

  section h2.h2_type09 {
    margin-bottom: 30px;
    font-size: 14px;
  }

  section h3.h3_type01 {
    margin-bottom: 20px;
    font-size: 16px;
  }

  section h3.h3_type02 {
    width: auto;
  }
  
  section p.caption {
    font-size: 10px;
  }

  section p.pager {
    margin-bottom: 30px;
    font-size: 14px;
  }

  section ul.merit {
    padding: 10px;
  }

  section p.lead {
    margin-bottom: 30px;
    font-size: 14px;
  }

  section p.app a,
  section p.app input {
    width: 50%;
    padding: 15px 0;
    font-size: 16px;
  }

  section div.singlebox {
    margin-bottom: 30px;
  }
  
  section div.singlebox.pic_slider {
    margin: 0 -10px 80px -10px;
  }

  section div.greybox {
    margin-bottom: 50px;
    padding: 15px;
  }

  section div.youtube {
    width: 100%;
    margin-bottom: 50px;
  }

  section ul.list_link li {
    font-size: 12px;
  }

  section table.table_type01 tr th,
  section table.shop_detail tr th {
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 12px;
    text-align: left;
  }

  section table.table_type01 tr td,
  section table.shop_detail tr td {
    display: block;
    padding: 0 15px 10px 15px;
    border-left: none;
    font-size: 10px;
  }

  section table.table_type01.contact {
    margin-bottom: 50px;
  }

  section table.table_type01.contact tr th span.mini {
    font-size: 10px;
  }

  section table.table_type01.contact tr td {
    width: inherit;
    min-width: 220px;
    padding: 0 15px 10px 15px;
  }

  section table.table_type01.contact tr td select {
    font-size: 12px;
  }
  
  section table.table_type01.contact tr td input.input_type01 {
    width: 90%;
  }

  section table.table_type01.contact tr td input.input_type02 {
    width: 13%;
  }

  section table.table_type01.contact tr td textarea.textarea_type01 {
    width: 90%;
    height: 100px;
  }

  section ul.list_contact {
    display: block;
    padding-bottom: 30px;
  }

  section ul.list_contact li.tel {
    width: 100%;
    margin: 0 0 20px 0;
  }

  section ul.list_contact li.form,
  section ul.list_contact li.mail {
    width: 100%;
  }

  section p.contact_lead {
    margin: 0 0 20px 0;
    line-height: 2em;
    text-align: left;
  }

  section p.contact_lead br {
    display: none;
  }

  section p.contact_note {
    margin: 0 0 20px 0;
    font-size: 12px;
    text-align: left;
  }

  section p.contact_note span {
    display: block;
  }

  section p.link_btn {
    margin-bottom: 50px;
  }

  section p.link_btn a {
    width: 100%;
    padding: 20px 0;
    font-size: 12px;
  }

  section p.clear {
    padding-top: 20px;
  }

  section p.clear input {
    width: 100%;
    font-size: 12px;
  }
  
  section div.category_date {
    margin: 0 0 20px 0;
  }
  
  section p.sub_ttl {
    font-size: 16px;
  }

}


/*--------------------------------------------------
* flexbox
==================================================*/

div.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -10px 60px -10px;
}

div.flexbox.reverse {
  margin-bottom: 30px;
  flex-direction: row-reverse;
}

div.flexbox.flex-start {
  align-items: flex-start;
}

div.flexbox.flex-end {
  justify-content: flex-end;
}

div.flexbox.start {
  align-items: flex-start;
}

div.flexbox.picbox {
  justify-content: center;
}

div.flexbox.picbox div {
  padding: 0 20px !important;
}

div.flexbox div.box300 {
  max-width: 300px;
  padding: 0 10px;
}

div.flexbox div.box340 {
  max-width: 340px;
  padding: 0 10px;
}

div.flexbox div.box448 {
  max-width: 448px;
  padding: 0 10px;
}

div.flexbox div.box460 {
  max-width: 460px;
  padding: 0 10px;
}

div.flexbox div.box500 {
  max-width: 500px;
  padding: 0 10px;
}

div.flexbox div.box600 {
  max-width: 600px;
  padding: 0 10px;
}

div.flexbox div.box640 {
  max-width: 640px;
  padding: 0 10px;
}

div.flexbox div.note_area {
  font-size: 11px;
  line-height: 2em;
}

div.flexbox div.note_area p {
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {

  div.flexbox {
    display: block;
    margin: 0 0 30px 0;
  }

  div.flexbox div.box300,
  div.flexbox div.box340,
  div.flexbox div.box448,
  div.flexbox div.box500,
  div.flexbox div.box600,
  div.flexbox div.box640 {
    max-width: inherit;
    margin-bottom: 20px;
    padding: 0;
  }
  
  div.flexbox div.note_area {
    margin-bottom: 30px;
  }

}


/*--------------------------------------------------
* product
==================================================*/

section ul.list_product {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section ul.list_product li {
  width: 18.4%;
  margin-bottom: 20px;
}

section ul.list_product li.cr {
  margin-bottom: 530px;
}

@keyframes zoom-in {
  0% {
   transform: scale(.1);
  }
  100% {
    transform: none;
  }
}

section ul.list_product > li.active {
  animation: .6s zoom-in;
}

section ul.list_product > li.hide {
  display: none;
}

section ul.list_product > li.empty {
  display: block;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

section ul.list_product li img {
  transition: 0.3s;
  cursor: pointer;
}

section ul.list_product li img:hover {
  opacity: 0.8;
}

section ul.list_product li p.arrow {
  position: relative;
  margin-bottom: -8px;
  text-align: center;
  z-index: 1;
}

section ul.list_product li div.wrap {
  display: none;
}

section ul.list_product li div.detail {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 508px;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
}

section ul.list_product li div.detail p.pic {
  width: 46%;
  margin: 20px;
}

section ul.list_product li div.detail div.data {
  position: relative;
  width: 48%;
  margin: 20px 20px 20px 0;
  padding-top: 15px;
}

section ul.list_product li div.detail div.data h2 {
  margin-bottom: 25px;
	font-family: minion-pro-display,"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝体", "Yu Mincho", YuMincho, "Noto Sans Japanese","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,"ＭＳ Ｐゴシック", Osaka, sans-serif;  
}

section ul.list_product li div.detail div.data h2 span.en {
  display: block;
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 1em;
}

section ul.list_product li div.detail div.data h2 span.ja {
  display: block;
  font-size: 20px;
  line-height: 1em;
}

section ul.list_product li div.detail div.data p.price {
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: #f6f6f6;
  font-size: 18px;
  line-height: 1em;
}

section ul.list_product li div.detail div.data p.note {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 2em;
}

section ul.list_product li div.detail div.data dl.calorie {
  margin-bottom: 50px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

section ul.list_product li div.detail div.data dl.calorie::after {
	display: block;
	clear: both;
	content: "";
}

section ul.list_product li div.detail div.data dl.calorie dt {
  clear: both;
  float: left;
  width: 6em;
  padding-left: 5px;
}

section ul.list_product li div.detail div.data dl.calorie dd {
  margin-bottom: 10px;
  padding: 0 0 10px 7em;
  border-bottom: 1px solid #eee;
}

section ul.list_product li div.detail div.data ul.calorie {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1em;
  margin-bottom: 50px;
}

section ul.list_product li div.detail div.data ul.calorie li {
  width: 50%;
  padding: 15px 0;
  border: 1px solid #1b1b1b;
  text-align: center;
}

section ul.list_product li div.detail div.data ul.calorie li:last-child {
  border-left: none;
}

section ul.list_product li div.detail div.data p.close {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {

  section ul.list_product li {
    width: 30%;
    margin-bottom: 10px;
  }

  section ul.list_product li.cr {
    margin-bottom: 820px;
  }

  section ul.list_product li div.detail {
    display: block;
    width: 100%;
    height: 800px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
  }

  section ul.list_product li div.detail p.pic {
    width: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
  }

  section ul.list_product li div.detail div.data {
    width: 100%;
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
  }

  section ul.list_product li div.detail div.data h2 {
    margin-bottom: 25px;
    font-family: minion-pro-display,"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝体", "Yu Mincho", YuMincho, "Noto Sans Japanese","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,"ＭＳ Ｐゴシック", Osaka, sans-serif;  
  }

  section ul.list_product li div.detail div.data h2 span.en {
    margin-bottom: 15px;
    font-size: 30px;
  }

  section ul.list_product li div.detail div.data h2 span.ja {
    font-size: 16px;
  }

  section ul.list_product li div.detail div.data p.price {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
  }

  section ul.list_product li div.detail div.data p.note {
    margin-bottom: 20px;
    font-size: 14px;
  }

  section ul.list_product li div.detail div.data ul.calorie {
    margin-bottom: 20px;
  }

  section ul.list_product li div.detail div.data ul.calorie li {
    padding: 10px 0;
  }

  section ul.list_product li div.detail div.data p.close {
    position: static;
    margin-bottom: 0;
    text-align: right;
  }

}


/*--------------------------------------------------
* news
==================================================*/

section nav#tabNews ul {
  display: flex;
	font-family: minion-pro-display,"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝体", "Yu Mincho", YuMincho, "Noto Sans Japanese","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,"ＭＳ Ｐゴシック", Osaka, sans-serif;
  font-size: 16px;
  letter-spacing: 0.1em;
}

section nav#tabNews ul li {
  width: 15%;
  margin-right: 4px;
  padding: 16px 0 15px 0;
  background-color: #000;
  border-bottom: 1px solid #000;
  color: #fff;
  line-height: 1em;
  text-align: center;
  cursor: pointer;
}

section nav#tabNews ul li.is-active {
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #1b1b1b;
  border-bottom: 1px solid #fff;
  color: #1b1b1b;
}

section ul.list_news {
  display: none;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
	font-family: minion-pro-display,"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝体", "Yu Mincho", YuMincho, "Noto Sans Japanese","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,"ＭＳ Ｐゴシック", Osaka, sans-serif;
}

section ul.list_news.is-show {
  display: block;
}

section ul.list_news li {
  display: flex;
  align-items: center;
  padding: 30px 0 30px 20px;
  border-bottom: 1px solid #cdcdcd;
  font-size: 14px;
  line-height: 1.5em;
}

section ul.list_news li:last-child {
  border-bottom: none;
}

section ul.list_news li p {
  margin-bottom: 0;
}

section ul.list_news li span.cat {
  width: 80px;
  margin-right: 25px;
  padding: 5px 0;
  background-color: #1b1b1b;
  color: #fff;
  font-size: 12px;
  line-height: 1em;
  text-align: center;
}

section ul.list_news li a {
  max-width: 80%;
  display: flex;
  align-items: center;
  color: #1b1b1b;
  transition: 0.3s;
}

section ul.list_news li a:hover {
  opacity: 0.8;
}

section ul.list_news li a p.thumb {
  width: 100px;
  margin-right: 30px;
}

section ul.list_news li p.ttl {
  max-width: 70%;
  margin-right: 20px;
}

section ul.list_news li span.date {
  margin-left: auto;
  color: #949393;
  font-size: 12px;
  line-height: 1em;
}

section ul.list_topics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section ul.list_topics li {
  position: relative;
  width: 46.92%;
  margin-bottom: 30px;
}

section ul.list_topics li:last-child,
section ul.list_topics li:nth-last-child(2):nth-child(odd) {
  margin-bottom: 0;
}

section ul.list_topics li a {
  display: block;
  color: #1b1b1b;
  transition: 0.3s;
}

section ul.list_topics li a:hover {
  opacity: 0.8;
}

section ul.list_topics li a p.cat {
  position: absolute;
  top: 20px;
  left: 4px;
  width: 84px;
  padding: 6px 0;
  background-color: #1b1b1b;
  color: #fff;
  font-size: 12px;
  line-height: 1em;
  text-align: center;
}

section ul.list_topics li a p.ttl {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5em;
}

section ul.list_topics li a p.lead {
  margin-bottom: 15px;
  line-height: 1.5em;
}

section ul.list_topics li a p.arrow {
  text-align: right;
}

@media screen and (max-width: 767px) {

  section nav#tabNews ul {
    font-size: 11px;
  }
  
  section nav#tabNews ul li {
    min-width: inherit;
    width: 100%;
    margin-right: 3px;
    padding: 11px 0 10px 0;
  }
  
  section nav#tabNews ul li:last-child {
    margin-right: 0;
  }

  section ul.list_news li {
    display: block;
    padding: 15px 0;
    font-size: 10px;
    line-height: 1.5em;
  }

  section ul.list_news li span.cat {
    float: left;
    display: block;
    width: 60px;
    margin: 8px 10px 0 0;
    font-size: 10px;
    line-height: 1em;
  }

  section ul.list_news li a {
    align-items: flex-start;
  }

  
  section ul.list_news li a p.thumb {
    width: 80px;
    margin-right: 10px;
  }
  
  section ul.list_news li p.ttl {
    max-width: 70%;
    margin-right: 0;
  }

  section ul.list_news li span.date {
    display: block;
    text-align: right;
    font-size: 10px;
    line-height: 1em;
  }

  section ul.list_topics li {
    width: 100%;
    margin-bottom: 20px;
  }

  section ul.list_topics li:nth-last-child(2):nth-child(odd) {
    margin-bottom: 20px;
  }

  section ul.list_topics li a p.ttl {
    font-size: 14px;
  }

  section ul.list_topics li a p.lead {
    margin-bottom: 10px;
  }

}


/*--------------------------------------------------
* shop
==================================================*/

section nav#areaNav {
  margin-bottom: 60px;
  padding: 10px 0;
  background-color: #f6f6f6;
}

section nav#areaNav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

section nav#areaNav ul li {
  margin-right: 10px;
  width: 12.8%;
  line-height: 1.5em;
}

section nav#areaNav ul li.ttl {
  width: 13%;
  margin-left: 0;
  padding: 8px 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

section nav#areaNav ul li.clear {
  width: 7%;
}

section nav#areaNav ul li a {
  display: block;
  padding: 8px 0;
  background-color: #fff;
  color: #1b1b1b;
  box-sizing: border-box;
  text-align: center;
}

section nav#areaNav ul li a.cr,
section nav#areaNav ul li.clear a,
section nav#areaNav ul li a:hover {
  background-color: #1b1b1b;
  color: #fff;
}

section div.shopbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #cdcdcd;
}

section div.shopbox.no_underline {
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: none;
}

section div.shopbox a {
  transition: 0.3s;
}

section div.shopbox a:hover {
  opacity: 0.8;
}

section div.shopbox p.pic {
  width: 46%;
}

section div.shopbox div.data {
  width: 50%;
}

section div.shopbox div.data h3 {
  margin-bottom: 25px;
	font-family: minion-pro-display,"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝体", "Yu Mincho", YuMincho, "Noto Sans Japanese","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,"ＭＳ Ｐゴシック", Osaka, sans-serif;
  font-size: 24px;
  line-height: 1.5em;
}

section div.shopbox div.data h3 span {
  display: block;
  font-family: "Noto Sans JP", "メイリオ", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

section div.shopbox div.data table {
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid #cdcdcd;
  border-collapse: collapse;
}

section div.shopbox div.data table tr th {
  width: 5em;
  padding: 5px 20px 5px 5px;
  border-bottom: 1px solid #cdcdcd;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
}

section div.shopbox div.data table tr td {
  padding: 5px 5px 5px 0;
  border-bottom: 1px solid #cdcdcd;
}

section div.shopbox div.data ul.detail,
section ul.shop_btn {
  display: flex;
  justify-content: flex-end;
}

section div.shopbox div.data ul.detail li,
section ul.shop_btn li {
  margin-left: 20px;
  width: 180px;
}

section div.shopbox div.data ul.detail li a,
section ul.shop_btn li a {
  display: block;
  padding: 15px 0;
  background-color: #1b1b1b;
  color: #fff;
  text-align: center;
  line-height: 1em;
  transition: 0.3s;
}

section div.shopbox div.data ul.detail li a:hover,
section ul.shop_btn li a:hover {
  opacity: 0.8;
}

section div.shop_about p {
  margin-bottom: 30px;
}

section div.shop_about ul.list_pic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section div.shop_about ul.list_pic::after {
  content: '';
  display: block;
  width: 32%;
}

section div.shop_about ul.list_pic li {
  width: 32%;
  margin-bottom: 15px;
}

section div.shop_address {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #cdcdcd;
  font-size: 16px;
}

section div.shop_address h3 {
  margin-right: 3%;
  font-size: 16px;
  font-weight: bold;
  line-height: 1em;
}

section div.shop_address p {
  margin-bottom: 0;
}

section div.shop_gmap {
  margin-bottom: 40px;
}

section div.shop_gmap iframe {
  width: 100%;
  height: 280px;
}

@media screen and (max-width: 767px) {

  section nav#areaNav {
    margin-bottom: 30px;
  }

  section nav#areaNav ul {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 2%;
  }

  section nav#areaNav ul li {
    margin-right: 2%;
    margin-bottom: 10px;
    width: 30.5%;
    line-height: 1.5em;
  }

  section nav#areaNav ul li.ttl {
    width: 100%;
    margin-left: 0;
  }

  section nav#areaNav ul li.clear {
    width: 30.5%;
  }

  section div.shopbox {
    display: block;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  section div.shopbox p.pic {
    width: 100%;
    margin-bottom: 10px;
  }

  section div.shopbox div.data {
    width: 100%;
  }

  section div.shopbox div.data h3 {
    margin-bottom: 20px;
    font-size: 20px;
  }

  section div.shopbox div.data h3 span {
    font-size: 14px;
  }
  
  section div.shopbox div.data table tr th {
    padding: 5px 10px 5px 5px;
    font-size: 12px;
    white-space: nowrap;
  }

  section div.shopbox div.data table tr td {
    padding: 5px 5px 5px 0;
    font-size: 10px;
  }

  section div.shopbox div.data ul.detail li,
  section ul.shop_btn li {
    width: 40%;
  }

  section div.shop_about {
    margin-bottom: 30px;
  }

  section div.shop_about p {
    margin-bottom: 20px;
  }

  section div.shop_about ul.list_pic {
    display: block;
  }
  
  section div.shop_about ul.list_pic li {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  
  section div.shop_address {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
  }

  section div.shop_address h3 {
    margin: 0 0 5px 0;
    font-size: 14px;
  }

  section div.shop_gmap {
    margin-bottom: 30px;
  }

}


/*--------------------------------------------------
* contact
==================================================*/

section.section_type02 {
  max-width: 1000px;
  border-bottom: 1px dotted #a3a3a3;
}


/*--------------------------------------------------
* 
==================================================*/
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 50px;
  height: 50px;
  transform: translate(-50%,-50%);
}
.loading .circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.loading .circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: circleFadeDelay 1.2s infinite ease-in-out both;
          animation: circleFadeDelay 1.2s infinite ease-in-out both;
}
.loading .circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.loading .circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.loading .circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.loading .circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.loading .circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.loading .circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.loading .circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.loading .circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.loading .circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.loading .circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
.loading .circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
.loading .circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.loading .circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.loading .circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.loading .circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
.loading .circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; 
}
.loading .circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; 
}
.loading .circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; 
}
.loading .circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.loading .circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.loading .circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.loading .circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}



